--no-mtime
--embed-metadata				# Also embeds chapters/infojson if present 
--embed-info-json  				# Embed the infojson as an attachment to mkv/mka video files
--embed-subs					# Embed subtitles in the video (only for mp4, webm and mkv videos)
--sub-langs en					# subtitle language (english)
--embed-thumbnail				# Embed thumbnail in the video as cover art
--sponsorblock-remove sponsor
--no-restrict-filenames 
-P "/data/data/com.termux/files/home/storage/shared/yt-dl/"
-o "%(title)s.%(ext)s"


